@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header::before{
    content: "";
    background-image: url();
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    z-index: -10;


}

 h1{
        font-family: "Montserrat", sans-serif;
            color: blue;
            font-size: 36px;
            font-weight: 800;


        }

h2{     font-family: "Poppins", sans-serif;
        color: blueviolet;
        font-size: 24px;
        font-weight: 600;
            
}
p{      font-family: "Poppins", sans-serif;
            color: brown;
            font-size: 20px;
        }
        

